<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="navbar navbar-dark bg-atlassian-blue box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg class="icon-atlassian-horizontal-logo"></svg>
      </a>
    </div>
  </div>
</header>
<main>
  <section class="branding-block jumbotron text-center">
    <div class="container">
      <svg class="icon-atlassian-summit-logo"></svg>
    </div>
    <h4 style="color:#707070; padding-top: 20px; font-weight:normal">{{ title }}</h4>
  </section>

  <div class="container text-center">
    <ngb-tabset>
      <ngb-tab *ngFor="let tab of sessionsFileService.tabs | async" >
        <ng-template ngbTabTitle>
          <div (click)="setDefaultActiveSessionForTab(tab)">{{tab}}</div>
        </ng-template>
        <ng-template ngbTabContent>

            <div class="row">
              <div class="col-sm-4 text-left custom-collapse">
                <h4 class="track-title">{{tab}}</h4>

                <button type="button" class="btn btn-light navbar-toggle" (click)="isActive = !isActive">
                  <span>{{ !isActive ? 'Show' : "Hide"}} Sessions</span>
                </button>

                <ul id='sessionNavCollapse' class="list-group list-group-flush collapse" [ngClass]="{'show': isActive}" (click)="isActive = false" >
                    <span *ngFor="let session of sessionsFileService.sessions | async">
                      <li class="list-group-item" *ngIf="session.Track.Title == tab" [ngClass]="{ 'active':session == activeSession }" (click)="setActiveSession(session)">
                        <strong>
                          {{session.Title}}
                        </strong>
                        <div style="color:#5E6C84"><small>{{ session.Speakers[0].FirstName}} {{ session.Speakers[0].LastName}}, {{session.Speakers[0].Company}}</small> </div>
                      </li>
                    </span>
                </ul>

              </div>
              <div class="col-md-8 text-left">

                <h2 style="padding:20px 0">{{activeSession.Title}}</h2>
                <p><strong>{{ activeSession.Speakers[0].FirstName}} {{ activeSession.Speakers[0].LastName}}, {{activeSession.Speakers[0].Company}}</strong> <span *ngIf="activeSession.Speakers.length > 1"> +{{activeSession.Speakers.length}} others</span> </p>
                <div>
                  {{activeSession.Description}}
                </div>

                <div style="padding:20px 0"><a href="#QA">See Q&A for this Session and others here</a></div>

                <h2 style="padding: 0 0 20px">{{activeSession.Speakers.length > 1 ? "About the speakers" : "About the speaker" }}</h2>
                <div *ngFor="let speaker of activeSession.Speakers" style="color:#5E6C84">
                  <p><strong>{{speaker.FirstName}} {{speaker.LastName}},</strong> {{speaker.Company}}</p>
                  <p>{{speaker.Biography}}</p>
                </div>

              </div>
            </div>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</main>
