/* You can add global styles to this file, and also import other style files */
.bg-atlassian-blue {
    background-color: #0252CC;
}

.icon-atlassian-horizontal-logo {
    display: block;
    width: 208px;
    height:20px;
    background-image: url("./assets/img/Atlassian-horizontal-white-export-plain.svg");
    background-size: 208px 40px;
    background-position: -20px -10px;
}

.icon-atlassian-summit-logo {
    display: inline-block;
    width: 350px;
    height:50px;
    background-image: url("./assets/img/Atlassian-Summit-blue-export-plain.svg");
    background-size: 370px 70px;
    background-position: -0px -0px;
}

.branding-block.jumbotron {
    background-color: white;
    padding:30px;
}


.nav-tabs .nav-link {
    color: #495057;
    background-color: #F6F6F6;
    border: 1px solid #dee2e6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}


.list-group.list-group-flush .list-group-item.active {
    background-color:#F2F3F4;
    color: inherit;
    border-top-color:rgba(0, 0, 0, 0.125);
}

.track-title {
    padding:20px 0;
}

.custom-collapse .navbar-toggle {
    display: none;
}

@media screen and (max-width: 768px) {

    .custom-collapse {
        flex: auto;
        max-width: 100%;
    }
    .custom-collapse .collapse{
        display:none;
    }
    .custom-collapse .collapse.show{
        display:block;
    }

    .custom-collapse .track-title {
        display:none
    }

    .custom-collapse .navbar-toggle {
        display: block;
        margin-top:10px;
    }

}
